name: Build Example

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "15.x"  # or the version your project needs

      - name: Build the code
        run: |
          npm install
          npm run build

      - name: Test the code
        run: |
          npm test --if-present -- --watch=false || true
